@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

button,
.btn {
  box-shadow: 6px 6px 0px #252525;
}

.card {
  box-shadow: 8px 8px 0px #252525;
}
img.card-img {
  width: 400px;
  height: 250px;
}
